@model ListOfProdcutsByVoteModel
@{
    ViewBag.Title = "Voted Fruit";
    Layout = "_StandardLayout";
}
<p></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Fruit</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fruit in Model.productAndVote)
        {
            <tr>
                <td class="text-center">@fruit.Name</td>
                <td class="text-left">@fruit.NumberVoted</td>
     
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-right">Total:</td>
            <td class="text-left">
                @Model.productAndVote.Sum(x => x.NumberVoted)
            </td>
        </tr>
    </tfoot>
</table>

